.navigation {
	position: fixed;
	top: 71px;
	left: 0;
	box-sizing: border-box;
	width: 59px;
	background: $color-tertiary;
	@media screen and (max-width: 799px) {
		transform: translate3d(-100%, 0, 0);
		transition: 0.7s all;
	}
	@media screen and (min-width: 800px) {
		width: 89px;
	}
	&__item {
		box-sizing: border-box;
		width: 100%;
		padding: 15px 18px;
		margin: 14px 0;
		@media screen and (min-width: 800px) {
			padding: 15px 28px;
		}
		&--active {
			border-left: 3px solid $color-success;
		}
	}
	&__link {
		display: block;
		width: 100%;
		height: 100%;
	}
}
@media screen and (max-width: 799px) {
	.nav-open .navigation {
		transform: translate3d(0, 0, 0);
	}
}
