////////////////////////////////////////////
//
//	Color
//
///////////////////////////////////////////

$color-primary: 	#7377bf;
$color-secondary:	#7477bf;
$color-tertiary: 	#4d4c72;

$color-grey:		#b2b2b2;

$color-success: 	#81c98f;
$color-error:     #7C3742;
$color-cancel:		#b2b2b2;
$color-alert: $color-primary;


$color-section-border:	#d8d8d8;

$color-social-bg:	$color-grey;

$color-text:	#666666;
$color-link:	#7b7ec2;
